.sideBarcWrapper {
  width:40%;
  margin-left: auto;
  padding: 40px 20px 52px 20px;
  font-family: Verdana;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #9B9FAA;
  background: #F0F1F3;
  display: flex;
  flex-direction: column;
   
  background-image: url(../../images/hero/leavesDesktop.png);
  background-repeat: no-repeat;
  background-position: top 0 left 300px;
  margin-top: -145px;
  
}

.title {
  margin-bottom: 20px;
  font-family: Verdana;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #212121;
}

.badFoodWrapper {
  margin-left: 50px;
}