.user {
  margin-left: auto;
  color: rgba(33, 33, 33, 1);
  font-size: 14px;
  text-transform: capitalize;
  font-family: verdana;
  font-weight: 700;
  line-height: 17.01px;
  text-align: right;
  border-right: 3px solid rgba(224, 224, 224, 1);
  padding-right: 20px;
}

.userWrapper {
  display: flex;
  gap: 23px;
  margin-top: 125px;
  position: absolute;
  right: 20px;

}
